RewriteEngine On

RewriteCond %{REQUEST_URI} ^/docs [NC]
RewriteRule (.*) http://live-docs-airflow-apache-org.s3-website.us-east-2.amazonaws.com/$1 [P]

<IfModule mod_headers.c>
    Header set Content-Security-Policy "script-src 'self' https://www.youtube.com https://code.jquery.com 'unsafe-inline' https://analytics.apache.org https://cdnjs.cloudflare.com https://stackpath.bootstrapcdn.com;"
</IfModule>
