RedirectMatch Permanent ^/docs/(stable|1.10.10)/api(\.html)?$ "https://airflow.apache.org/docs/apache-airflow/$1/rest-api-ref"
RedirectMatch Permanent ^/docs/(stable|1.10.10)/(cli|macros)(\.html)?$ "https://airflow.apache.org/docs/apache-airflow/$1/$2-ref"
RedirectMatch Permanent ^/((_api|_images|_modules|_sources|_static|howto)/.*)$ "https://airflow.apache.org/docs/apache-airflow/stable/$1"
RedirectMatch Permanent ^/((1.10.1|1.10.2|1.10.3|1.10.4|1.10.5|1.10.6|1.10.7|1.10.8|1.10.9|1.10.10)/.*)$ "https://airflow.apache.org/docs/apache-airflow/$1"
RedirectMatch Permanent ^/((api|changelog|cli|concepts|errors|faq|genindex|http-routingtable|installation|integration|kubernetes|license|lineage|macros|metrics|plugins|privacy_notice|profiling|project|py-modindex|scheduler|search|security|start|timezone|tutorial|ui)(\.html)?)$ "https://airflow.apache.org/docs/apache-airflow/stable/$1"
RedirectMatch Permanent ^/docs/((1.10.1|1.10.2|1.10.3|1.10.4|1.10.5|1.10.6|1.10.7|1.10.8|1.10.9|1.10.10|1.10.11|1.10.12|1.10.13|1.10.14|2\.[0-9.]+|stable)/.*)$ "https://airflow.apache.org/docs/apache-airflow/$1"

Redirect Permanent /objects.inv https://airflow.apache.org/docs/apache-airflow/stable/objects.inv

# Documentation for Airflow 2.0
# See:
# https://github.com/apache/airflow/issues/11423
# https://github.com/apache/airflow-site/issues/314
RedirectMatch Permanent ^/docs/apache-airflow/(stable|2\.[0-9.]+)/executor/mesos.html "https://github.com/apache/airflow/blob/master/UPDATING.md#removal-of-mesos-executor"
RedirectMatch Permanent ^/docs/apache-airflow/(stable|2\.[0-9.]+)/howto/connection/aws.html "https://airflow.apache.org/docs/apache-airflow-providers-amazon/stable/connections/aws.html"
RedirectMatch Permanent ^/docs/apache-airflow/(stable|2\.[0-9.]+)/howto/connection/gcp.html "https://airflow.apache.org/docs/apache-airflow-providers-google/stable/connections/gcp.html"
RedirectMatch Permanent ^/docs/apache-airflow/(stable|2\.[0-9.]+)/howto/connection/gcp_sql.html "https://airflow.apache.org/docs/apache-airflow-providers-google/stable/connections/gcp_sql.html"
RedirectMatch Permanent ^/docs/apache-airflow/(stable|2\.[0-9.]+)/howto/connection/grpc.html "https://airflow.apache.org/docs/apache-airflow-providers-grpc/stable/connections/grpc.html"
RedirectMatch Permanent ^/docs/apache-airflow/(stable|2\.[0-9.]+)/howto/connection/mysql.html "https://airflow.apache.org/docs/apache-airflow-providers-mysql/stable/connections/mysql.html"
RedirectMatch Permanent ^/docs/apache-airflow/(stable|2\.[0-9.]+)/howto/connection/oracle.html "https://airflow.apache.org/docs/apache-airflow-providers-oracle/stable/connections/oracle.html"
RedirectMatch Permanent ^/docs/apache-airflow/(stable|2\.[0-9.]+)/howto/connection/postgres.html "https://airflow.apache.org/docs/apache-airflow-providers-postgres/stable/connections/postgres.html"
RedirectMatch Permanent ^/docs/apache-airflow/(stable|2\.[0-9.]+)/howto/connection/ssh.html "https://airflow.apache.org/docs/apache-airflow-providers-ssh/stable/connections/ssh.html"
RedirectMatch Permanent ^/docs/apache-airflow/(stable|2\.[0-9.]+)/howto/operator/dingding.html "https://airflow.apache.org/docs/apache-airflow-providers-dingding/stable/operators.html"
RedirectMatch Permanent ^/docs/apache-airflow/(stable|2\.[0-9.]+)/howto/operator/gcp/bigtable.html "https://airflow.apache.org/docs/apache-airflow-providers-google/stable/operators/cloud/bigtable.html"
RedirectMatch Permanent ^/docs/apache-airflow/(stable|2\.[0-9.]+)/howto/operator/gcp/cloud_build.html "https://airflow.apache.org//docs/apache-airflow-providers-google/stable/operators/cloud/cloud_build.html"
RedirectMatch Permanent ^/docs/apache-airflow/(stable|2\.[0-9.]+)/howto/operator/gcp/compute.html "https://airflow.apache.org/docs/apache-airflow-providers-google/stable/operators/cloud/compute.html"
RedirectMatch Permanent ^/docs/apache-airflow/(stable|2\.[0-9.]+)/howto/operator/gcp/function.html "https://airflow.apache.org/docs/apache-airflow-providers-google/stable/operators/cloud/functions.html"
RedirectMatch Permanent ^/docs/apache-airflow/(stable|2\.[0-9.]+)/howto/operator/gcp/gcs.html "https://airflow.apache.org/docs/apache-airflow-providers-google/stable/operators/cloud/gcs.html"
RedirectMatch Permanent ^/docs/apache-airflow/(stable|2\.[0-9.]+)/howto/operator/gcp/gcs_to_gdrive.html "https://airflow.apache.org/docs/apache-airflow-providers-google/stable/operators/transfer/gcs_to_gdrive.html"
RedirectMatch Permanent ^/docs/apache-airflow/(stable|2\.[0-9.]+)/howto/operator/gcp/index.html "https://airflow.apache.org/docs/apache-airflow-providers-google/stable/operators/cloud/index.html"
RedirectMatch Permanent ^/docs/apache-airflow/(stable|2\.[0-9.]+)/howto/operator/gcp/natural_language.html "https://airflow.apache.org//docs/apache-airflow-providers-google/stable/operators/cloud/natural_language.html"
RedirectMatch Permanent ^/docs/apache-airflow/(stable|2\.[0-9.]+)/howto/operator/gcp/spanner.html "https://airflow.apache.org/docs/apache-airflow-providers-google/stable/operators/cloud/speech_to_text.html"
RedirectMatch Permanent ^/docs/apache-airflow/(stable|2\.[0-9.]+)/howto/operator/gcp/speech.html "https://airflow.apache.org/docs/apache-airflow-providers-google/stable/operators/cloud/speech_to_text.html"
RedirectMatch Permanent ^/docs/apache-airflow/(stable|2\.[0-9.]+)/howto/operator/gcp/sql.html "https://airflow.apache.org/docs/apache-airflow-providers-google/stable/operators/cloud/cloud_sql.html"
RedirectMatch Permanent ^/docs/apache-airflow/(stable|2\.[0-9.]+)/howto/operator/gcp/transfer.html "https://airflow.apache.org/docs/apache-airflow-providers-google/stable/operators/cloud/cloud_storage_transfer_service.html"
RedirectMatch Permanent ^/docs/apache-airflow/(stable|2\.[0-9.]+)/howto/operator/gcp/translate-speech.html "https://airflow.apache.org/docs/apache-airflow-providers-google/stable/operators/cloud/translate-speech.html"
RedirectMatch Permanent ^/docs/apache-airflow/(stable|2\.[0-9.]+)/howto/operator/gcp/translate.html "https://airflow.apache.org/docs/apache-airflow-providers-google/stable/operators/cloud/translate.html"
RedirectMatch Permanent ^/docs/apache-airflow/(stable|2\.[0-9.]+)/howto/operator/gcp/video.html "https://airflow.apache.org/docs/apache-airflow-providers-google/stable/operators/cloud/video.html"
RedirectMatch Permanent ^/docs/apache-airflow/(stable|2\.[0-9.]+)/howto/operator/gcp/vision.html "https://airflow.apache.org/docs/apache-airflow-providers-google/stable/operators/cloud/vision.html"
RedirectMatch Permanent ^/docs/apache-airflow/(stable|2\.[0-9.]+)/howto/operator/papermill.html "https://airflow.apache.org/docs/apache-airflow-providers-papermill/stable/operators.html"
RedirectMatch Permanent ^/docs/apache-airflow/(stable|2\.[0-9.]+)/profiling.html "https://github.com/apache/airflow/blob/master/UPDATING.md"
