RewriteEngine On

RewriteCond %{REQUEST_URI} ^/docs [NC]
RewriteRule (.*) http://staging-docs-airflow-apache-org.s3-website.us-east-2.amazonaws.com/$1 [P]

# Allow loading YouTube content after ensuring consent.
# Additional allowances to be coordinated with privacy team
Header set Content-Security-Policy "frame-src 'self' https://www.youtube-nocookie.com https://www.youtube.com https://airflow.apache.org;"
