{{/*
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
*/}}

{{ define "main" }}
    {{ with .Content }}
        {{ . }}
    {{ end }}

    <div style="margin-bottom: 80px;">
        <div id="events-container" class="list-container">
            {{ range .Site.Data.meetups }}
                {{ partial "boxes/event" . }}
            {{ end }}
        </div>
    </div>

    <div style="margin-bottom: 80px;">
        <div id="integrations-container" class="list-container">
            {{ range .Site.Data.integrations }}
                {{ partial "boxes/integration" . }}
            {{ end }}
        </div>
    </div>

    <div style="margin: 0 auto 80px; max-width: 1200px">
        <div id="commiters-container" class="list-container">
            {{ range .Site.Data.commiters }}
                {{ partial "boxes/commiter" . }}
            {{ end }}
        </div>
        <div style="width: fit-content; margin: 60px auto 0">
            {{ partial "buttons/button-filled" (dict "text" "Show all" "id" "show-all-commiters")}}
        </div>
    </div>

    {{/*
        TODO: replace json mockdata with case study site metadata
    */}}
    <div style="margin: 0 auto 48px; max-width: 1200px">
        <div id="case-studies-container" class="list-container">
            {{ range .Site.Data.case_studies }}
                {{ partial "boxes/case-study" . }}
            {{ end }}
        </div>
    </div>
{{ end }}
