{{/*
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*   http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing,
* software distributed under the License is distributed on an
* "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
* KIND, either express or implied.  See the License for the
* specific language governing permissions and limitations
* under the License.
*/}}

<div class="box-event">
    <p class="bodytext__medium--blue text-center" style="margin-bottom: 10px">
        {{ .city }},<br/>{{ .country }}
    </p>
    <p class="bodytext__xsmall--brownish"
       style="margin-bottom: 30px">
        {{ with resources.Get "icons/members-icon.svg" }}
            {{ .Content | safeHTML }}
        {{ end }}
        <span style="vertical-align: middle;">{{ .members }} members</span>
    </p>
    <p class="bodytext__xsmall--blue" style="margin-bottom: 0">Next meetup:</p>
    <p class="bodytext__xsmall--greyish" style="margin-bottom: 20px">{{ .date }}</p>
    {{ partial "buttons/button-hollow" (dict "text" "Learn more") }}
</div>
