{{/*
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
*/}}

<!doctype html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">
<head>
    {{ partial "head.html" . }}
</head>
<body class="td-{{ .Kind }}">
<header>
    {{ partial "navbar.html" . }}
</header>
<div class="roadmap container-fluid td-default base-layout">
    <div class="content-drawer-wrapper">
        <button class="navbar__toggle-button" id="content-open-button">
            {{ with resources.Get "icons/content-hamburger-icon.svg" }}
                <div id="hamburger-icon" class="navbar__toggle-button--icon visible">
                    {{ .Content | safeHTML }}
                </div>
            {{ end }}
        </button>
        <nav id="content-navbar" class="navbar navbar--hidden">
            <div class="navbar__icon-container">
                <a href="{{ .Site.Home.RelPermalink }}">
                    {{ with resources.Get "icons/airflow-logo.svg" }}{{ .Content | safeHTML }}{{ end }}
                </a>
            </div>
            {{ with resources.Get "icons/close-icon.svg" }}
                <div id="content-close-button">
                    {{ .Content | safeHTML }}
                </div>
            {{ end }}
        </nav>
        <div class="content-drawer-container" id="content-drawer">
            <div class="content-drawer">
                {{ template "left-side-nav" . }}
            </div>
        </div>
    </div>
    <div class="d-flex">
        <div class="desktop-only">
            {{ template "left-side-nav" . }}
        </div>
        <main class="col-12 col-md-9 col-xl-8" role="main">
            {{ if not .Site.Params.ui.breadcrumb_disable }}{{ partial "breadcrumb.html" . }}{{ end }}
            {{ block "main" . }}{{ end }}
        </main>
        <nav class="wy-nav-side-toc">
            <div class="wy-side-scroll">
                <div class="wy-menu-vertical">
                    <ul>
                        <li class="toctree-l1 current">
                            <a href="">Primary heading A</a>
                        </li>
                        <li class="toctree-l1">
                            <a href="">Primary heading B</a>
                        </li>
                        <li class="toctree-l1">
                            <a href="">Primary heading C</a>
                            <ul>
                                <li class="toctree-l2">
                                    <a href="">Secondary heading A</a>
                                </li>
                                <li class="toctree-l2">
                                    <a href="">Secondary heading B</a>
                                    <ul>
                                        <li class="toctree-l3">
                                            <a href="">Secondary heading A</a>
                                            <ul>
                                                <li class="toctree-l4">
                                                    <a href="">Secondary heading A</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    {{ partial "suggest-change" . }}
</div>
{{ partialCached "footer.html" . }}
{{ partialCached "scripts.html" . }}
</body>
{{ $script := .Site.Data.webpack.main }}
{{ with $script.js }}
    <script src="{{ relURL . }}"></script>
{{ end }}
</html>

{{ define "left-side-nav" }}
    <div class="td-sidebar d-print-none">
        <div class="searchb-box">
            <form class="search-form" action="search.html" method="get">
                <input class="search-form__input" type="text" name="q" placeholder="Search docs">
                <input type="hidden" name="check_keywords" value="yes">
                <input type="hidden" name="area" value="default">

                <button class="search-form__button" type="submit">

                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                        <g id="Group_1579" data-name="Group 1579" transform="translate(-41.001 -41)">
                            <path id="Path_169"
                                  d="M71.415 64.687a7.215 7.215 0 1 0-6.729 6.728 7.222 7.222 0 0 0 6.729-6.728z"
                                  fill="none" data-name="Path 169" transform="translate(-14.277 -14.276)"></path>
                            <path id="Path_170"
                                  d="M60.863 59.8l-6.093-6.09a7.78 7.78 0 1 0-1.06 1.06l6.09 6.093a.468.468 0 0 0 .662 0l.4-.4a.468.468 0 0 0 .001-.663zM42.512 49.183a6.274 6.274 0 1 1 5.851 5.85 6.28 6.28 0 0 1-5.851-5.85z"
                                  fill="#51504f" data-name="Path 170"></path>
                        </g>
                    </svg>
                </button>
            </form>
        </div>
        <div class="toctree" role="navigation" aria-label="main navigation">
            <ul class="current">
                <li class="toctree-l1"><a class="reference internal" href="project.html">Project</a></li>
                <li class="toctree-l1"><a class="reference internal" href="license.html">License</a></li>
                <li class="toctree-l1"><a class="reference internal" href="start.html">Quick Start</a></li>
                <li class="toctree-l1"><a class="reference internal" href="installation.html">Installation</a></li>
                <li class="toctree-l1 current"><a class="current reference internal" href="#"><span
                                class="toctree-expand"></span>Tutorial</a>
                    <ul>
                        <li class="toctree-l2"><a class="reference internal" href="#example-pipeline-definition">Example
                                Pipeline definition</a></li>
                        <li class="toctree-l2"><a class="reference internal" href="#it-s-a-dag-definition-file">It’s
                                a DAG definition file</a></li>
                        <li class="toctree-l2"><a class="reference internal" href="#importing-modules">Importing
                                Modules</a></li>
                        <li class="toctree-l2"><a class="reference internal" href="#default-arguments">Default
                                Arguments</a></li>
                        <li class="toctree-l2"><a class="reference internal" href="#instantiate-a-dag">Instantiate a
                                DAG</a></li>
                        <li class="toctree-l2"><a class="reference internal" href="#tasks">Tasks</a></li>
                        <li class="toctree-l2"><a class="reference internal" href="#templating-with-jinja">Templating
                                with Jinja</a></li>
                        <li class="toctree-l2"><a class="reference internal" href="#setting-up-dependencies">Setting
                                up Dependencies</a></li>
                        <li class="toctree-l2"><a class="reference internal" href="#recap">Recap</a></li>
                        <li class="toctree-l2"><a class="reference internal" href="#testing"><span
                                        class="toctree-expand"></span>Testing</a>
                            <ul>
                                <li class="toctree-l3"><a class="reference internal" href="#running-the-script">Running
                                        the Script</a></li>
                                <li class="toctree-l3"><a class="reference internal"
                                                          href="#command-line-metadata-validation">Command Line
                                        Metadata Validation</a></li>
                                <li class="toctree-l3"><a class="reference internal" href="#id1">Testing</a></li>
                                <li class="toctree-l3"><a class="reference internal" href="#backfill">Backfill</a>
                                </li>
                            </ul>
                        </li>
                        <li class="toctree-l2"><a class="reference internal" href="#what-s-next">What’s Next?</a>
                        </li>
                    </ul>
                </li>
                <li class="toctree-l1"><a class="reference internal" href="howto/index.html">How-to Guides</a></li>
                <li class="toctree-l1"><a class="reference internal" href="ui.html">UI / Screenshots</a></li>
                <li class="toctree-l1"><a class="reference internal" href="concepts.html">Concepts</a></li>
                <li class="toctree-l1"><a class="reference internal" href="scheduler.html">Scheduling &amp;
                        Triggers</a></li>
                <li class="toctree-l1"><a class="reference internal" href="executor/index.html">Executor</a></li>
                <li class="toctree-l1"><a class="reference internal" href="plugins.html">Plugins</a></li>
                <li class="toctree-l1"><a class="reference internal" href="security.html">Security</a></li>
                <li class="toctree-l1"><a class="reference internal" href="timezone.html">Time zones</a></li>
                <li class="toctree-l1"><a class="reference internal" href="usage-cli.html">Using the CLI</a></li>
                <li class="toctree-l1"><a class="reference internal" href="integration.html">Integration</a></li>
                <li class="toctree-l1"><a class="reference internal" href="metrics.html">Metrics</a></li>
                <li class="toctree-l1"><a class="reference internal" href="errors.html">Error Tracking</a></li>
                <li class="toctree-l1"><a class="reference internal" href="kubernetes.html">Kubernetes</a></li>
                <li class="toctree-l1"><a class="reference internal" href="lineage.html">Lineage</a></li>
                <li class="toctree-l1"><a class="reference internal" href="dag-serialization.html">DAG
                        Serialization</a></li>
                <li class="toctree-l1"><a class="reference internal" href="changelog.html">Changelog</a></li>
                <li class="toctree-l1"><a class="reference internal" href="faq.html">FAQ</a></li>
                <li class="toctree-l1"><a class="reference internal" href="privacy_notice.html">Privacy Notice</a>
                </li>
            </ul>
            <p class="caption"><span class="caption-text">References</span></p>
            <ul>
                <li class="toctree-l1"><a class="reference internal" href="operators-and-hooks-ref.html">Operators
                        and hooks</a></li>
                <li class="toctree-l1"><a class="reference internal" href="cli-ref.html">CLI</a></li>
                <li class="toctree-l1"><a class="reference internal" href="macros-ref.html">Macros</a></li>
                <li class="toctree-l1"><a class="reference internal" href="_api/index.html">Python API</a></li>
                <li class="toctree-l1"><a class="reference internal" href="rest-api-ref.html">REST API</a></li>
            </ul>

        </div>
    </div>
{{ end }}
