{{/*
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
*/}}

<!doctype html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">
<head>
    {{ partial "head.html" . }}
</head>
<body class="td-{{ .Kind }}">
<header>
    {{ partial "navbar.html" . }}
</header>
<div class="roadmap container-fluid td-default base-layout">
        <div class="d-flex">
            <div class="td-sidebar d-print-none">
                {{ partial "sidebar.html" . }}
            </div>
            <main class="col-12 col-md-9 col-xl-8" role="main">
                {{ if not .Site.Params.ui.breadcrumb_disable }}{{ partial "breadcrumb.html" . }}{{ end }}
                {{ block "main" . }}{{ end }}
            </main>
            <nav class="wy-nav-side-toc">
                <div class="wy-side-scroll">
                    <div class="wy-menu-vertical">
                        <ul>
                            <li class="toctree-l1 current">
                                <a href="">Primary heading A</a>
                            </li>
                            <li class="toctree-l1">
                                <a href="">Primary heading B</a>
                            </li>
                            <li class="toctree-l1">
                                <a href="">Primary heading C</a>
                                <ul>
                                    <li class="toctree-l2">
                                        <a href="">Secondary heading A</a>
                                    </li>
                                    <li class="toctree-l2">
                                        <a href="">Secondary heading B</a>
                                        <ul>
                                            <li class="toctree-l3">
                                                <a href="">Secondary heading A</a>
                                                <ul>
                                                    <li class="toctree-l4">
                                                        <a href="">Secondary heading A</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="base-layout--button">
            <a href="https://github.com">
                {{ partial "buttons/button-with-icon" (dict "text" "Suggest a change on this page" "class" "button-fixed") }}
            </a>
        </div>
</div>
{{ partialCached "footer.html" . }}
{{ partialCached "scripts.html" . }}
</body>
{{ $script := .Site.Data.webpack.main }}
{{ with $script.js }}
    <script src="{{ relURL . }}"></script>
{{ end }}
</html>
