<div style="margin: 0 auto 48px; max-width: 1200px">
    <div id="case-studies-container" class="list-container">
        {{ range .Site.Data.case_studies }}
            <div class="box-event large hoverable-icon justify-content-between" style="padding: 48px 28px 30px">
                <div style="height: 60px">
                    {{ with resources.Get .logo_path }}
                        {{ .Content | safeHTML }}
                    {{ end }}
                </div>
                <p class="bodytext__xsmall--brownish font-italic text-center"
                   style="margin: 24px 0 20px">{{ .quote }}</p>
                {{ partial "buttons/button-hollow" (dict "text" "Learn more")}}
            </div>
        {{ end }}
    </div>
</div>
