<div style="margin: 0 auto 80px; max-width: 1200px">
    <div id="commiters-container" class="event-container">
        {{ range .Site.Data.commiters }}
            <div class="box-event small">
                <img src="{{ .image }}" alt="Commiter {{ .name }}"
                     style="width: 80px; height: 80px; border-radius: 50%"/>
                <p class="bodytext__xsmall--greyish" style="margin-top: 12px">@{{ .nick }}</p>
                <p class="bodytext__xsmall--brownish">{{ .name }}</p>
                <div class="d-flex flex-wrap justify-content-center">
                    {{ range .social_media }}
                        {{ with resources.Get .icon }}
                            <div style="margin: 0 6px">
                                {{ .Content | safeHTML }}
                            </div>
                        {{ end }}
                    {{ end }}
                </div>
            </div>
        {{ end }}
    </div>
    <div style="width: fit-content; margin: 60px auto 0">
        {{ partial "buttons/button-filled" (dict "text" "Show all" "id" "show-all-commiters")}}
    </div>
</div>
