<div style="margin-bottom: 80px;">
    <div id="events-container" class="event-container">
        {{ range .Site.Data.meetups }}
            <div class="box-event">
                <p class="bodytext__medium--blue text-center" style="margin-bottom: 10px">
                    {{ .city }},<br/>{{ .country }}
                </p>
                <p class="bodytext__xsmall--brownish"
                   style="margin-bottom: 30px">
                    {{ with resources.Get "icons/members-icon.svg" }}
                        {{ .Content | safeHTML }}
                    {{ end }}
                    <span style="vertical-align: middle;">{{ .members }} members</span>
                </p>
                <p class="bodytext__xsmall--blue" style="margin-bottom: 0">Next meetup:</p>
                <p class="bodytext__xsmall--greyish" style="margin-bottom: 20px">{{ .date }}</p>
                {{ partial "buttons/button-hollow" (dict "text" "Learn more") }}
            </div>
        {{ end }}
    </div>
</div>
