<div style="margin-bottom: 80px;">
    <div id="integrations-container" class="event-container">
        {{ range .Site.Data.integrations }}
            <div class="box-event small hoverable-icon justify-content-between">
                <div style="margin-top: 75px">
                    {{ with resources.Get .logo_path }}
                        {{ .Content | safeHTML }}
                    {{ end }}
                </div>
                <span class="bodytext__small">{{ .name }}</span>
            </div>
        {{ end }}
    </div>
</div>
