<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />

{{- with .Site.Title }}<meta property="og:site_name" content="{{ . }}" />{{ end }}

{{- $image := "" -}}
{{- if .Params.image -}}
  {{- $image = .Params.image -}}
{{- else if .Params.images -}}
  {{- $image = index .Params.images 0 -}}
{{- else if .Site.Params.images -}}
  {{- $image = index .Site.Params.images 0 -}}
{{- end -}}

{{- if $image -}}
  <meta property="og:image" content="{{ $image | absURL }}" />
  <meta name="twitter:image" content="{{ $image | absURL }}" />
  <meta name="twitter:card" content="summary_large_image" />
{{- else -}}
  <meta name="twitter:card" content="summary" />
{{- end -}}

<meta name="twitter:title" content="{{ .Title }}"/>
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}"/>
