/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
@import "colors";

.tag {
  @extend .bodytext__medium--cerulean-blue;
  background-color: #d9ebfc; // cerulean-blue + opacity 0.15
  padding: 1px 30px;
  margin-right: 14px;
  border-radius: 5px;
  transition: .2s;

  &.active, &:hover {
    background-color: map-get($colors, cerulean-blue);
    color: map-get($colors, white);
  }
}

.all-tags-container {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.new-entry {
  margin: 30px 0 20px;
  &--link {
    @extend .bodytext__medium--cerulean-blue;
    font-weight: 500;
  }
}

.blogpost-content {
  max-width: 790px;
  margin: 0 auto;

  &--header-wrapper {
    border-bottom: solid 1px map-get($colors, very-light-pink);
  }

  &__metadata {
    &--container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 30px;
    }

    &--title {
      @extend .header__small--greyish-brown;
      margin-bottom: 20px;
    }

    &--author {
      @extend .bodytext__medium--cerulean-blue;
      font-weight: 500;
      margin-bottom: 30px;
    }

    &--description {
      @extend .subtitle__large--brownish-grey;
      font-weight: normal;
      margin-bottom: 30px;
    }
  }
}

.blog-pager {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .pager {
    margin-top: 40px;
    justify-content: center
  }
}
