@import "colors";

button {
  cursor: pointer;
  border: 1px solid;
  border-radius: 5px;
  padding: 9px 29px;
  transition: all ease-out 0.2s;

  &.btn-filled {
    border-color: $cerulean-blue;
    background-color: $cerulean-blue;

    &:hover {
      border-color: $bright-sky-blue;
      background-color: $bright-sky-blue;
    }
  }

  &.btn-hollow {
    &.btn-blue {
      color: $cerulean-blue;
      border-color: $cerulean-blue;
      background-color: transparent;

      &:hover {
        color: $white;
        background-color: $cerulean-blue;
      }
    }

    &.btn-brown {
      border-color: $very-light-pink;

      &:hover {
        background-color: $greyish-brown;
        border-color: $greyish-brown;

        span {
          color: $white;
        }
        svg {
          path {
            fill: $white;
          }
        }
      }
    }
  }

  &.btn-with-icon {
    $icon-height: 30px;

    padding: 14px 20px;

    svg {
      height: $icon-height;
      width: auto;
      padding-right: 15px;
    }

    span {
      display: inline-block;
      line-height: $icon-height;
      vertical-align: middle;
    }
  }
}
