$cerulean-blue: #017cee;
$shamrock: #00ad46;
$bright-sky-blue: #0cb6ff;
$melon: #ff7557;
$vermillion: #e43921;
$aqua: #11e1ee;
$shamrock-green: #04d659;
$aqua-blue: #00c7d4;
$white: #ffffff;
$brownish-grey: #707070;
$very-light-pink: #cbcbcb;
$white: #f9f9f9;
$slate-grey: #636365;
$greyish-brown: #51504f;
