/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

$colors: (
        cerulean-blue: #017cee,
        shamrock: #00ad46,
        bright-sky-blue: #0cb6ff,
        melon: #ff7557,
        vermillion: #e43921,
        aqua: #11e1ee,
        shamrock-green: #04d659,
        aqua-blue: #00c7d4,
        white: #ffffff,
        brownish-grey: #707070,
        very-light-pink: #cbcbcb,
        slate-grey: #636365,
        greyish-brown: #51504f
);
