@import "colors";

.list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  justify-content: center;
}

.box-event {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px;
  height: 316px;
  border: solid 1px $very-light-pink;
  border-radius: 5px;

  &.small {
    height: 270px;
  }

  &.large {
    height: 336px;
  }

  &.hoverable-icon {
    svg {
      filter: grayscale(1);
      opacity: 0.6;
    }
    &:hover {
      svg {
        filter: none;
        opacity: 1;
      }
    }
  }
}
