/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
@import "colors";

$box-margin: 20px;

.list-items {
  display: flex;
  flex-wrap: wrap;
  margin: calc(-1 * #{$box-margin});
}

.list-item {
  border: solid 1px $very-light-pink;
  border-radius: 5px;
  margin: $box-margin;
  padding: 30px 10px;
  width: 270px;
}

.box-event {
  display: flex;
  flex-direction: column;
  align-items: center;

  &.hoverable-icon {
    svg {
      filter: grayscale(1);
      opacity: 0.6;
      transition: all 0.2s;
    }

    &:hover {
      svg {
        filter: none;
        opacity: 1;
      }
    }
  }

  &__case-study {
    padding: 18px 18px 0;
    justify-content: space-between;

    &--logo {
      height: 60px;
    }

    &--quote {
      font-style: italic;
      margin: 30px 0 20px;
      text-align: center;
    }
  }

  &__commiter {
    &--nick {
      margin-top: 12px;
    }

    &--social-media-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &--social-media-icon {
      margin: 0 6px;
    }
  }

  &__meetup {
    &--location {
      margin-bottom: 10px;
      text-align: center;
    }

    &--members {
      margin-bottom: 30px;
      span {
        vertical-align: middle;
      }
    }

    &--next-meetup {
      margin-bottom: 20px;
      text-align: center;
    }
  }

  &__integration {
    justify-content: space-between;

    &--logo {
      margin-top: 75px;
    }

    &--name {
      margin-top: 50px;
    }
  }
}
