/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

ol.counter-blue, ul.ticks-blue {
  list-style: none;
  margin-bottom: 0;

  li {
    @extend .bodytext__medium--brownish-grey;
    position: relative;
    padding-left: 10px;

    &::before {
      position: absolute;
      border: solid 1px map_get($colors, cerulean-blue);
      border-radius: 50%;
    }
  }
}

ol.counter-blue {
  $counter-size: 26px;
  counter-reset: custom-counter;
  padding-left: calc(#{$counter-size} + 2px);

  li {
    counter-increment: custom-counter;
    margin-bottom: 25px;

    &::before {
      @extend .subtitle__medium--cerulean-blue;
      content: counter(custom-counter);
      box-sizing: content-box;

      top: -2px;
      left: calc(-1 * #{$counter-size});
      width: $counter-size;
      height: $counter-size;

      text-align: center;
      line-height: $counter-size;
    }
  }
}

ul.ticks-blue {
  $tick-size: 24px;
  padding-left: calc(#{$tick-size} + 2px);
  li {
    margin-bottom: 22px;

    &::before {
      content: "";

      left: calc(-1 * #{$tick-size});
      width: $tick-size;
      height: $tick-size;

      background-position: center;
      background-repeat: no-repeat;
      background-image: url("/images/tick.svg");
    }
  }
}
