/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@import "colors";
@import "media";

.quote {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px map-get($colors, very-light-pink);
  padding: 0 78px 60px;

  &--text {
    @extend .subtitle__large--brownish-grey;
    text-align: center;
    font-weight: normal;

    &::before {
      content: "“"
    }

    &::after {
      content: "”";
    }

    [data-bs-theme="dark"] & {
      color: var(--bs-body-color);
    }
  }

  &--author {
    @extend .bodytext__medium--greyish-brown;
    text-align: center;
    font-weight: 500;
    margin-bottom: 32px;

    [data-bs-theme="dark"] & {
      color: var(--bs-secondary-color);
    }
  }

  &--logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 auto;
    max-height: 240px;

    .logo-dark-mode {
      display: none;
    }

    [data-bs-theme="dark"] & {
      // Rancher & Sift swap
      &.logo-rancherbysuse,
      &.logo-sift {
        .logo-default { display: none; }
        .logo-dark-mode { display: block; }
      }
    }
  }

  &--logo {
    max-height: 240px;
    max-width: 100%;
    width: auto;

    // Default: Full Color (Same as hover state)
    filter: none;
    opacity: 1;

    [data-bs-theme="dark"] & {
      filter: none;
      opacity: 1;
    }
  }

  // Plarium & Onefootball Override for Dark Mode (White)
  &--logo-container.logo-plarium-krasnodar .quote--logo,
  &--logo-container.logo-onefootball .quote--logo {
    [data-bs-theme="dark"] & {
      filter: brightness(0) invert(1);
    }
  }
}

@media (max-width: $mobile) {
  .quote {
    padding: 0 0 40px;
  }
}
