@import url('https://fonts.googleapis.com/css?family=Rubik:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import "colors";

$header-font: 'Rubik', sans-serif;
$primary-font: 'Roboto', sans-serif;
$monospace-font: 'Roboto Mono', monospace;

@mixin header($size) {
  font-family: $header-font;
  color: $greyish-brown;
  font-weight: 500;

  @if $size == "large" {
    font-size: 72px;
    line-height: 1.17;
  }
  @if $size == "medium" {
    font-size: 60px;
    line-height: 1.23;
  }
  @if $size == "small" {
    font-size: 48px;
    line-height: 1.25;
  }
}

@mixin bodytext($size, $color, $weight: normal) {
  font-family: $primary-font;
  color: $color;
  font-weight: $weight;

  @if $size == "large" {
    font-size: 36px;
    line-height: 1.22;
  }
  @if $size == "medium" {
    font-size: 24px;
    line-height: 1.5;
  }
  @if $size == "small" {
    font-size: 18px;
    line-height: 1.33;
  }
  @if $size == "xsmall" {
    font-size: 16px;
    line-height: 1.63;
  }
}

@mixin monotext($color) {
  font-family: $monospace-font;
  color: $color;
  font-size: 14px;
  line-height: 1.71;
}

.header__large {
  @include header("large");
}

.header__medium {
  @include header("medium");
}

.header__small {
  @include header("small");
}


.bodytext__large {
  @include bodytext("large", $brownish-grey, bold);
}

.bodytext__medium--blue {
  @include bodytext("medium", $cerulean-blue, 500);
}

.bodytext__medium--brownish {
  @include bodytext("medium", $brownish-grey);
}

.bodytext__small {
  @include bodytext("small", $greyish-brown, bold);
}

.bodytext__xsmall--greyish {
  @include bodytext("xsmall", $greyish-brown, 500);
}

.bodytext__xsmall--blue {
  @include bodytext("xsmall", $cerulean-blue);
}

.bodytext__xsmall--brownish {
  @include bodytext("xsmall", $brownish-grey);
}

.bodytext__xsmall--white {
  @include bodytext("xsmall", $white);
}


.monotext--vermillion {
  @include monotext($vermillion);
}

.monotext--brownish {
  @include monotext($brownish-grey);
}

.monotext--blue {
  @include monotext($cerulean-blue);
}

.monotext--shamrock {
  @include monotext($shamrock);
}
