@keyframes open {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 100%;
  }
}

details.accordion {
  $very-light-pink: #cbcbcb;
  $cerulean-blue: #017cee;
  $brownish-grey: #707070;

  padding: 40px 30px;
  border-bottom: solid 1px $very-light-pink;
  transition: ease 1s;

  &:first-of-type {
    border-top: solid 1px $very-light-pink;
  }

  &[open] {
    .accordion__icon {
      svg {
        transform: rotate(180deg);
      }
    }

    summary ~ * {
      animation: open 0.5s ease-out;
    }
  }

  summary {
    position: relative;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  .accordion__header {
    color: $cerulean-blue;
    margin-bottom: 20px;
  }

  .accordion__description {
    color: $brownish-grey;
  }

  .accordion__icon {
    display: flex;
    position: absolute;
    width: 36px;
    height: 36px;
    top: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    border: solid 1px $cerulean-blue;
    border-radius: 50%;

    svg {
      transition: ease-out 0.2s;
    }
  }

  .accordion__content {
    margin-top: 30px;
    color: $brownish-grey;
  }
}


