details.accordion {
  position: relative;
  padding: 40px 30px;
  border-bottom: solid 1px #cbcbcb;

  summary::-webkit-details-marker {
    display: none;
  }

  &:first-of-type {
    border-top: solid 1px #cbcbcb;
  }

  .accordion__header {
    color: #017cee;
    margin-bottom: 20px;
  }

  .accordion__description {
    color: #707070;
  }

  .accordion__icon {
    position: absolute;
    top: 0;
    right: 0;
  }
}


