{{/*
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
*/}}

{{ define "main" }}
    <div>
        <h2 class="page-header">Use Cases</h2>
        <h5 class="page-subtitle">
            Apache Airflow&#174; can orchestrate most anything!
        </h5>
        <div style="display: flex; justify-content: center; align-items: center;">
            <p>
            Apache Airflow&#174; allows you to define almost any workflow in Python code,
            no matter how complex. Because of its versatility, Airflow is used by companies
            all over the world for a variety of use cases. This section presents the four
            most common use cases for Airflow, but the possibilities are endless.
            </p>
        </div>
        </br>
        </br>
        <div class="case-studies-container" class="list-items">
            {{ range where .Pages ".Params.blocktype" "=" "use-case" }}
                <a href="{{ .RelPermalink }}" class="list-item">
                    {{ partial "boxes/use-cases" .Params }}
                </a>
            {{ end }}
        </div>
        </br>
        </br>
        </br>
        </br>
        <h2 class="page-header">Testimonials</h2>
        <h5 class="page-subtitle">
            Apache Airflow&#174; helps businesses around the world reach their goals.
        </h5>
        <div id="testimonials-container" class="case-studies-container" class="list-items">
            {{ range where .Pages ".Params.blocktype" "=" "testimonial" }}
                <a href="{{ .RelPermalink }}" class="list-item">
                    {{ partial "boxes/testimonial" .Params }}
                </a>
            {{ end }}
        </div>
        <div class="show-more-button">
            {{ partial "buttons/button-filled" (dict "text" "Show more" "id" "show-more-testimonials")}}
        </div>
    </div>
{{ end }}
